@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, sans-serif;
}


.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.top, .middle {
    margin-left: 100px;
    margin-right: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
}

.link, .subtext {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.link {
    padding: 10px
}

.section-1 .middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.section-1 .middle .left{
    margin-right: 30px;
    flex: 1;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    padding: 8px;
    margin-top: 30px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: #3882F6;
    padding-left: 20px;
    padding-right: 20px;

}

.section-1 .right {
    display: flex;
    flex: 1;
    background-color: rgb(113, 129, 138);
    width: 300px;
    height: 300px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section-2 .info {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.section-2 .display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.section-2 .img-and-subtext {
    padding: 20px;
}

.section-2 .text {
    width: 150px;
}

.section-2 .empty {
    border: 4px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}





